{% extends "layouts/main.njk" %}

{% block pageTitle %}
  Choose your destination
{% endblock %}

{% block content %}
  {% if error %}
    <div class="govuk-error-summary" role="alert" tabindex="-1">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li><a href="#destination">Select a destination</a></li>
        </ul>
      </div>
    </div>
  {% endif %}

  <form action="/enter-details" method="post">
    <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset" aria-describedby="destination-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Where would you like to go?</h1>
        </legend>

        {% if error %}
          <span id="destination-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select a destination
          </span>
        {% endif %}

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mars" name="destination" type="radio" value="Mars">
            <label class="govuk-label govuk-radios__label" for="mars">Mars</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="moon" name="destination" type="radio" value="Moon">
            <label class="govuk-label govuk-radios__label" for="moon">Moon</label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" type="submit">Continue</button>
  </form>
{% endblock %}
