{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo govuk-!-margin-top-2">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/public/images/space-logo.svg" alt="Space Travel Service" style="height: 30px;">
      </a>
    </div>
  </div>
</header>
{% endblock %}
{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#">Privacy</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#">Terms of service</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#">Contact Space Travel Team</a>
          </li>
        </ul>
        <span class="govuk-footer__licence-description">
          © UK Space Travel Service
        </span>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
